<div class="grid-container">

    <div class="grid-x grid-padding-x">
        <div class="large-8 large-offset-2 cell text-center">

            <h3>Sponsors</h3>

            <div class="grid-x grid-padding-x padding-y">

                <div class="large-6 cell text-center">
                    <a href="https://www.bitcoin.com/" target="_blank">
                        <img src="{{root}}assets/img/bitcoin-com.png" alt="Bitcoin.com" />
                    </a>
                </div>

                <div class="large-6 cell text-center">
                    <a href="https://www.bitcoinunlimited.info/" target="_blank">
                        <img src="{{root}}assets/img/bitcoin-unlimited-logo.png" alt="Bitcoin Unlimited" />
                    </a>
                </div>
                <div class="large-6 cell text-center">
                    <a href="https://www.bitmain.com/" target="_blank">
                        <img src="{{root}}assets/img/bitmain-dark.png" alt="Bitmain" />
                    </a>
                </div>

                <div class="large-6 cell text-center">
                    <a href="https://www.gap600.com" target="_blank">
                        <img src="{{root}}assets/img/Gap600_logo_web.png" alt="Gap600" />
                    </a>
                </div>

            </div>

        </div>
    </div>

</div>