<div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
        <div class="medium-12 text-center cell intro-content">

            <h1>Location <span>How to get there and where to stay</span></h1>
            <svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="189.7px" height="63.9px" viewBox="0 0 189.7 63.9" enable-background="new 0 0 189.7 63.9" xml:space="preserve">
                <g>
                    <path fill="#1A171B" d="M107.8,43.5c-0.8,0-2,0.9-6.4,2.2c-3.8,1.1-9.8,0.9-13.6,0.5C84,45.7,76.6,43.7,67,41.5
              c-10.2-2.3-19.5,0.8-16.7-0.8c2.8-1.6,6.5-6.5,10.9-16.1c4.5-10,13.6-9.1,13.6-9.1c1.2,0.1,1.1-1,0.2-1.1
              c-13.7-1-18.9,10.3-21.2,13.9c-3,4.6-4.4,9.2-7.7,12.5c-2.2,2.2-9.3,3.9-9.3,3.9c-0.7,0.2-0.8,0.9,0.5,0.6c1.7-0.5,5.1-1.5,9.2-2.2
              c2.7-0.4,5.5-0.2,7.1-0.2c3.9,0.1,15,2.9,18.7,3.9c3.6,1,15.6,3.8,25.1,1.7c7.8-1.7,10.3-4,10.7-4.7
              C108.3,43.8,108.1,43.5,107.8,43.5"></path>
                    <polygon fill="#1A171B" points="73.6,22.5 73.6,38.2 82.4,38.2 82.4,36.8 75,36.8 75,22.5 	"></polygon>
                    <polygon fill="#1A171B" points="98.1,23.9 98.1,22.5 87.4,22.5 87.4,38.2 98.1,38.2 98.1,36.8 88.8,36.8 88.8,30.3 97.9,30.3 
              97.9,28.9 88.8,28.9 88.8,23.9 	"></polygon>
                    <polygon fill="#1A171B" points="114,28.9 106,28.9 106,23.9 114.3,23.9 114.3,22.5 104.6,22.5 104.6,38.2 106,38.2 106,30.3 
              114,30.3 	"></polygon>
                    <polygon fill="#1A171B" points="147.7,22.5 141.8,30 136,22.5 134.1,22.5 141.1,31.5 141.1,38.2 142.5,38.2 142.5,31.5 149.5,22.5 
                "></polygon>
                    <path fill="#1A171B" d="M129.7,33.3l2.4,4.9h1.7l-8.6-16.3l-8.6,16.3h1.7l2.4-4.9H129.7z M125.3,24.7l3.7,7.2h-7.4L125.3,24.7z"></path>
                </g>
            </svg>
            <p>Lefay Resort & SPA Lago di Garda is located in Gargnano in the heart of the spectacular and renowned “Riviera
                dei Limoni”. It is the first to be awarded the prestigious 5-star superior rating on Lake Garda and is situated
                in 11 hectares of natural park overlooking the lake. The Resort is a contemporary luxury retreat surrounded
                by nature, which makes it perfect for meetings and exclusive events.</p>

            <h2>How to reach Gargnano</h2>
            <p>The Colloquium will be held at Palazzo Feltrinelli, at Via Angelo Feltrinelli, 136, 25084 Gargnano BS, Italy.
                See map below</p>
            <a href="/assets/documents/italy2018-directions.pdf" class="button round">Download Directions</a>
        </div>
    </div>
    <div class="medium-12">

        {{> venuemap}}
    </div>
</div>