<footer>
    <div class=" grid-x">
        <div class="large-10 large-offset-1 cell text-center">
            <div class="button-wrap">

                <a href="https://twitter.com/satoshis_vision" class="button round" target="_blank"><i class="fa fa-twitter"
                        aria-hidden="true"></i> Twitter</a>
                <a href="https://www.youtube.com/SatoshisVisionConference" class="button round" target="_blank"><i class="fa fa-youtube"
                        aria-hidden="true"></i> YouTube</a>
                <a class="button round" data-open="credit"><i class="fa fa-heart" aria-hidden="true"></i> Credit</a>

            </div>

            <div class="text-center footer-tagline">
                <h5>Together we will make Bitcoin Cash the best money the world has ever seen.</h5>
            </div>

            <div class="bu text-center">
                <!-- <p>Brought to you by Bitcoin Unlimited</p> -->
                <a href="https://www.bitcoinunlimited.info" target="_blank"><img src="{{root}}assets/img/bitcoin-unlimited-logo.png"
                        alt="Bitcoin Unlimited" /></a>
            </div>

            <p>&copy; Copyright 2018 Satoshi's Vision Conference</p>

            <div class="reveal text-center" id="credit" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">

                <h4>Credit &amp; Thanks!</h4>

                <p>Illustrated <a href="https://www.freepik.com" target="_blank">banner by Freepik</a>, Iconography <a href="https://www.flaticon.com/authors/eucalyp"
                        target="_blank">designed by Eucalyp from Flaticon</a>, Website provided by <a href="https://bitcoin.com"
                        target="_blank">Bitcoin.com</a></p>

                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

        </div>
    </div>
</footer>