<div class="marketing-site-hero inner-page">
 
  <div class="marketing-site-hero-content text-center">
      
      <div class="header-sponsors">
      <h5>Sponsored By</h5>
    
        <a href="https://www.bitcoin.com/" target="_blank" class="radius button secondary">
        <img src="/assets/img/bitcoin-com-small.png" alt="Sponsored by Bitcoin.com">
        </a>

      
        <a href="https://www.bitmain.com/" target="_blank" class="radius button secondary">
        <img src="/assets/img/bitmain-small.png" alt="Sponsored by Bitmain">
        </a>
        </div>

  </div>
</div>