<div class="speakers">
{{#ifpage 'speakers'}}
  <div class="grid-container">
  {{else}}
  <div>

{{/ifpage}}

    <div class="grid-x grid-padding-x">
    
    <div class="large-10 large-offset-1 cell">
      

      <div class="text-center title-section">
      <h3>Speakers 
        <span>We're pleased to announce this initial group of speakers for the conference</span>
      </h3>
      </div>

      <div class="grid-x grid-padding-x speakers-list">
        
        <div class="large-5 medium-4 cell text-center">
         <div class="speaker">
            <div class="headshot">
            <img src="assets/img/speakers/satoshis-vision-RogerVer.jpg" alt="#">
            </div>
          </div>
          <h6 class="name">Roger Ver</h6>
        <h6>CEO of Bitcoin.com</h6>
        </div>

        <div class="large-7 medium-8 cell">
         <div class="speaker keynote-speaker">
         <div class="headshot">
          <h4>Keynote Speaker<br><small>2018 Satoshi's Vision Conference</small></h4>
            <blockquote>Bitcoin’s usefulness as a store of value comes as a secondary effect from its usefulness as a medium of exchange. If you destroy the medium of exchange, you destroy the store of value."
            <cite>Roger Ver
          <br>CEO of <a href="https://bitcoin.com" target="_blank">Bitcoin.com</a>
          , Bitcoin Investor
          </cite>
            </blockquote>
          </div>
          
          </div>
          
        </div>

      </div>

      <div class="text-center title-section">
        <h3>Developing the Protocol 

        </h3>
      </div>

      <div class="grid-x grid-padding-x speakers-list">
        
        {{#each featured}}   
      <div class="medium-4 cell text-center">
        <div class="speaker">
          <div class="headshot">
          <img src="{{this.image}}" alt="{{this.name}}">
          </div>
        </div>
        <h6 class="name">{{this.name}}</h6>
        <h6>{{{this.position}}}</h6>

      </div>
      {{/each}}

      </div>

      <div class="text-center title-section">
        <h3>Building the permissionsless economy
          
        </h3>
      </div>
      
      <div class="grid-x grid-padding-x speakers-list stain speakers-secondary">

     {{#each builders}}   
      <div class="large-4 small-6 cell text-center">
        <div class="speaker">
          <div class="headshot">
          <img src="{{this.image}}" alt="{{this.name}}">
          </div>
        </div>
        <h6 class="name">{{this.name}}</h6>
        <h6>{{{this.position}}}</h6>
      </div>
      {{/each}}

      </div>

      <div class="text-center title-section">
        <h3>Researching for the Future
          
        </h3>
      </div>
      
      <div class="grid-x grid-padding-x speakers-list stain speakers-secondary">

     {{#each developers}}   
      <div class="large-4 small-6 cell text-center">
        <div class="speaker">
          <div class="headshot">
          <img src="{{this.image}}" alt="{{this.name}}">
          </div>
        </div>
        <h6 class="name">{{this.name}}</h6>
        <h6>{{{this.position}}}</h6>
      </div>
      {{/each}}

      

       <div class="cell text-center">

          <div class="text-center title-section">
            <h4>More speakers will be added in the coming weeks
              <span>Check back soon for additional speakers.</span>
            </h4>
          </div>

              <div class="callout secondary grid-container">
              <h4>Would you like to present?</h4>

              <p>Researchers, academics, developers, and enthusiasts are all welcome! Submissions should be 1-2 pages in length, and outline the topic of the proposed talk, why it is important, and a description of what the attendees will learn.</p>
              <p><strong>Proposals due Jan 20th 2018</strong> – Please submit presentation proposals to:
                <a href="mailto:presentations@satoshisvisionconference.com">presentations@satoshisvisionconference.com</a></p>
                <div class="text-center">
                  <a class="button round" href="mailto:presentations@satoshisvisionconference.com"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Submit a Proposal</a>
                </div>
              </div>
            </div>

      </div>
    </div>
    </div>

  </div>
</div>