<div class="text-center title-section">
  <h1>Tickets 
    <span>Early-bird price - for a limited time only!</span>
  </h1>
  </div>
  <div class="text-center">
    <p>Don't miss your chance to get an amazing deal for tickets to an amazing conference. A limited number of tickets will be sold for only $300 before the regular price of $400 takes effect.<p>

    <p>We accept payments using <strong>Bitcoin Cash</strong> and <strong>Bitcoin</strong>. All are welcome!</p>

    <a class="rocketr-embed" data-product="428bff33f522" data-color="#EE2431" data-text="Purchase Tickets" data-width="200px" data-separator="" data-showprice="0"  href="https://rocketr.net/buy/428bff33f522">Buy Now</a><script type="text/javascript" src="https://rocketr.net/assets/RocketrButton.js"></script>
</div>