<div class="text-center title-section">
  <h1>Tickets 
      <span>Early Bird Tickets Sold Out, Regular Priced Tickets Still Available</span>  </h1>
  </div>
  <div class="text-center">
      <p>Tickets are only $400 for three full days of talks by inspiring and knowledgeable speakers, three lunches and a banquet dinner on the Saturday evening. An amazing deal for an amazing conference. Come join the luminaries, enthusiasts, researchers, and developers working to build the future of money.</p>

    <p>We accept payments using <strong>Bitcoin Cash</strong> and <strong>Bitcoin</strong>. All are welcome!</p>

    <a class="rocketr-embed" data-product="428bff33f522" data-color="#EE2431" data-text="Purchase Tickets" data-width="200px" data-separator="" data-showprice="0"  href="https://rocketr.net/buy/428bff33f522">Buy Now</a><script type="text/javascript" src="https://rocketr.net/assets/RocketrButton.js"></script>

              &nbsp;
              &nbsp;

</div>