<div class="text-center title-section">
  <h1>Tickets 
      </h1>
  </div>
  <div class="text-center">

<div class="callout alert"><h3>Sold out!</h3>
  <p>If you missed out on attending live, please catch the conference talks during the livestream, sponsored by <a href="https://www.bitcoin.com/" target="_blank">Bitcoin.com</a>.</p>
</div>
              &nbsp;

              <p style="margin-top:1em;">For any issues with previously purchased tickets please contact <a href="mailto:tickets@satoshisvisionconference.com">tickets@satoshisvisionconference.com</a></p>
              &nbsp;

</div>